.scroll-pane {
    -fx-background-color: #94826b;
    -fx-background-insets: 1;
}

.background {
    -fx-background-color: #513e38;
    -fx-background-insets: 1;
}

.scroll-bar:horizontal, .scroll-bar:horizontal{
    -fx-background-color:transparent;
}

.increment-button, .decrement-button {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-show-tick-marks: false;
}

.scroll-bar:horizontal .track,
.scroll-bar:vertical .track{
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-background-radius: 0em;
}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color: #cf8d0c;
    -fx-background-radius: 5em;
}